
.List {
    display: flex;
    flex-direction: column;

    min-height: 70vh;
    border: 1px solid green;
    margin: 10px 0;
}

.item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item:hover {
    background-color: #f0f0f0;
}


.item .contact-name {
    font-weight: bold;
}

.item p {
    margin: 0;
}