.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Limit the width of the container */
  height: auto;
  padding: 1rem; /* Add padding inside the container */
  margin: 0 auto; /* Center the container horizontally */
  box-sizing: border-box; /* Include padding and border in the total width/height */
  overflow: hidden; /* Prevent content from overflowing */
}

.Register-header {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.Register-button {
  margin-top: 2rem;
  width: 100%;
}

.Register-footer {
  margin: 2rem;
}

label {
  font-size: 14px; /* Adjust the font size to make labels smaller */
  margin: 0.2rem !important;
}

.Register p {
  word-wrap: break-word; /* Ensure long text wraps to the next line */
  margin: 0.5rem 0; /* Add consistent spacing around paragraphs */
  text-align: center; /* Center-align the text */
}
